/* tags */
body {
    font-family: 'Abel';font-size: 22px;
    margin: 0;
}

hr {
    background-color: #0f4c75;
    border-style: none;
    height: 2px;
    width: 10%;
}


h1 {
    margin-top: 0
}
/* classes: for when you use several times, smth can have more than one class */

.altText {
    font-family: "Times New Roman", Times, serif;
    font-size: 5em;
}

.altText:hover {
    font-size: 10em;
}

/* ids: you can only have one of them*/

#home {
    color: white;
    background-color: black;
    padding-bottom: 20px;
}

#heading {
    color: red;
}